extends /_layout/base.pug

block hero
	section.hero.hero--light(class=(hero.classPostfix ? 'hero--' + hero.classPostfix : ''))
		.container
			.hero__inner.row.align-items-center
				.col-12.col-xl-8
					h1.hero__title.title-1 #{hero.title}
			.hero__subtitle
				.container #{hero.subtitle}
		.hero__bg

block text
	.main__content
		.container
			.content
				block content