-
	var footerMenu = [
		{
			title: 'Privacy Policy',
			url: '/privacy.html',
		},
		{
			title: 'Developers',
			url: '/developers.html',
		},
		{
			title: 'Publishers',
			url: '/publishers.html',
		},
		{
			title: 'Advertisers',
			url: '/advertisers.html',
		},
		{
			title: 'Contact Us',
			url: '/contact.html',
		},
	];
.footer
	.container
		.footer__inner.row.align-items-center
			.col-12.col-xl-4
				.footer__copy.footer-copy
					span.footer-copy__icon
						i.icon-copyright
					span.footer-copy__text AzPartners
					span.footer-copy__year 2020
					
			.col-12.col-xl-6
				nav.footer__menu.main-menu
					ul.main-menu__list.list-unstyled
						each item in footerMenu
							li.main-menu__item
								a.main-menu__link(href=item.url ) #{item.title}

