-
	var headerMenu = [
		{
			title: 'Developers',
			url: 'developers.html',
		},
		{
			title: 'Publishers',
			url: 'publishers.html',
		},
		{
			title: 'Advertisers',
			url: 'advertisers.html',
		},
		{
			title: 'Contact Us',
			url: 'contact.html',
		},
	];
header.header
	.container
		.header__inner.row.align-items-center
			.col.col-md-6.col-lg-4
				a.header__logo(href="index.html")
					img(src="img/logo.svg" alt="azparnters logo")
			.col-auto.col-lg-5.col-menu
				nav.header__menu.main-menu
						ul.main-menu__list.list-unstyled
							each item in headerMenu
								li.main-menu__item
									a.main-menu__link.container.p-lg-0(href=item.url) #{item.title}
			.col-auto.ml-auto.col-lg-3
				.header__login.header-login
					a.header-login__link(href="signin.html")
						i.header-login__icon.icon-sign-in
						span.header-login__title Sign in
			.col-auto.pl-0.d-lg-none
				button.header__burger(type="button")
					svg(width="24" height="20" viewBox="0 0 24 20" fill="none")
						rect.burger-line(y="0.5" width="24" height="3" rx="1.5" fill="#76919A")/
						rect.burger-line(y="8.5" width="24" height="3" rx="1.5" fill="#76919A")/
						rect.burger-line(y="16.5" width="24" height="3" rx="1.5" fill="#76919A")/
