-
	var mainMenu = [
		{
			title: 'Developers',
			url: '/developers.html',
		},
		{
			title: 'Publishers',
			url: '/publishers.html',
		},
		{
			title: 'Advertisers',
			url: '/advertisers.html',
		},
		{
			title: 'Contact Us',
			url: '/contact.html',
		},
	];
