.modal-container
	.modal.fade#registration-success(role="dialog" tabindex="-1" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5.modal-title Success!
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					.d-flex
						i.reg-icon.icon-yes
						span.reg-state Registration completed successfully.
				.modal-footer
					.d-flex.align-items-center
						.reg-descr Please wait for the confirmation email link.
						button.modal-ok(type="button" data-dismiss="modal") Ok