extends /_layout/promo.pug

block append meta
	- config.page.title = 'Advertisers';
	- config.page.description = 'Advertisers description';

	-
		var hero = {
			classPostfix: 'adv',
			title: 'Advertisers',
			subtitle: 'App delivery and monetization for software developers and publishers.',
			icons: [
				{
					title: 'Partnerships with influential publishers',
					icon: 'partnerships-with-influential-publishers',
				},
				{
					title: 'App delivery performance tool',
					icon: 'app-delivery-performance-tool',
				},
				{
					title: 'Industry expierence since',
					icon: 'industry-expierence-since_green',
				},
			],
			button: {
				title: 'Contact',
				link: 'contact.html',
			}
		};
	-
		var advantages = [
			{
				title: 'Global audience',
				descr: 'Target the way as you need.',
				icon: 'global-audience',
				type: 'rtl',
			},
			{
				title: 'Scaling',
				descr: 'Scale as you go.',
				icon: 'scaling',
				color: 'dark-gray',
			},
			{
				title: 'Growth',
				descr: 'Grow how you want.',
				icon: 'growth',
				color: 'light-gray',
				type: 'rtl',
			},
		];
		