extends /_layout/light.pug

block meta
	- config.page.title = 'Contact us';
	- config.page.description = 'Contact us page description';

	-
		var hero = {
			classPostfix: 'contact',
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.'
		}

block content
	.row
		.col-9.offset-1
			form.form.form--contact
				.form-group.row
					label(for="contact-email") E-mail
					input#contact-email(type="email" required placeholder="johndoe@gmail.com")
					i.icon-asterisk
				.form-group.row
					label(for="contact-name") Name
					input#contact-email(type="text" required placeholder="John Doe")
					i.icon-asterisk
				.form-group.row
					label(for="contact-message") Message
					textarea#contact-message
				.form-group.row
					button.btn(type="submit")
						i.icon-send
						span Send