extends /_layout/light.pug

block meta
	- config.page.title = 'Contact us';
	- config.page.description = 'Contact us page description';

	-
		var hero = {
			classPostfix: 'contact',
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.'
		}

block content
	form.form.form--contact
		+formInput('Email', 'email', 'johndoe@gmail.com', 3, 9)
		+formInput('Name', 'text', 'John Doe', 3, 9)
		+formTextarea('Message', 'Hello there!', 3, 9)
		.form-group.row
			.col-3
			.col-9
				button.btn(type="submit")
					i.icon-send
					span Send