extends /_layout/light.pug

block append meta
	- config.page.title = 'Contact us';
	- config.page.description = 'Contact us page description';

	-
		var hero = {
			classPostfix: 'contact',
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.'
		}

block content
	form.form.form--contact.needs-validation(novalidate)
		.row
			.col-2
			.col-3
				.invalid-feedback
		.form-group.row
			.col-2
				label(for="form-email-contacts") Email
			.col-3
				.input-group
					input#form-email-contacts(type="email" placeholder="johndoe@gmail.com" required name="form-email-contacts")
					i.icon-asterisk
		.form-group.row
			.col-2
				label(for="form-name-contacts") Name
			.col-3
				.input-group
					input#form-name-contacts(type="text" required name="form-name-contacts")
					i.icon-asterisk
		.form-group.row
			.col-2
				label(for="form-message-acontactsdv") Message
			.col-8
				textarea(id="form-message-contacts", placeholder="Hello there!", name="form-message-contacts")
		.form-group.row
			.col-2
			.col-3
				.recaptcha-block
					img(src="/img/recaptcha.png", alt="recaptcha placeholder")
		.form-group.row
			.col-2
			.col-3
				button.btn(type="submit")
					i.icon-send
					span Send