extends /_layout/light.pug

block meta
	- config.page.title = 'Contact us';
	- config.page.description = 'Contact us page description';

	-
		var hero = {
			classPostfix: 'contact',
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.'
		}
	