extends /_layout/promo.pug

block append meta
	- config.page.title = 'Developers';
	- config.page.description = 'Developers description';

	-
		var hero = {
			classPostfix: 'dev',
			title: 'Developers',
			subtitle: 'App delivery and monetization for software developers and publishers.',
			icons: [
				{
					title: 'Global app promotion',
					icon: 'global-app-promotion',
				},
				{
					title: 'New distribution channels',
					icon: 'new-distribution-channels',
				},
				{
					title: 'Industry expierence since',
					icon: 'industry-expierence-since_amber',
				},
			],
			button: {
				title: 'Apply',
				link: 'signup.html',
			}
		};
	-
		var advantages = [
			{
				title: 'New users',
				descr: 'New users = More revenue.',
				icon: 'new-users',
				type: 'rtl',
			},
			{
				title: 'Installaton revenue',
				descr: 'Additional installation monetization.',
				icon: 'installation-revenue',
				color: 'light-gray',
			},
			{
				title: 'Tailored partnership',
				descr: 'Individual approach to every developer.',
				icon: 'tailored-partnership',
				color: 'dark-gray',
				type: 'rtl',
			},
		];


//- block advantages
		