extends /_layout/promo.pug

block meta
	- config.page.title = 'Home page';
	- config.page.description = 'Home page description';

	-
		var hero = {
			title: 'Targeted content delivery platform',
			subtitle: 'Content delivery and monetization solutions for software developers and web-masters.',
			community: [
				'Developers',
				'Publishers',
				'Advertisers',
			]
		};
	-
		var advantages = [
			{
				title: 'Attract new users',
				descr: 'Draw new interested audiences.',
				icon: 'attract-new-users',
				color: 'light-gray',
			},
			{
				title: 'New impressions',
				descr: 'Impressions specifically targeting your product.',
				icon: 'new-impressions',
				type: 'rtl',
			},
			{
				title: 'New markets',
				descr: 'Get new users from different countries.',
				icon: 'new-markets',
				color: 'amber'
			},
		];
	-
		var partners = [
			'Avast',
			'Opera',
			'DriverHub',
		];

block append advantages
	section.partners
		.container
			.partners__inner.row.align-items-center
				.col-12.col-xl-4
					h2.partners__title.title-2 Partners
				.col-12.col-xl-8
					ul.partners__list.list-unstyled
						each partner in partners
							li.partners__item
								img(src="/img/content/partners/" + partner.toLowerCase() + '.png' alt=partner)

					
