extends /_layout/text.pug

block append meta
	- config.page.title = 'Privacy policy';
	- config.page.description = 'Privacy policy page description';

block content
	h2 Collected information
	p Thank you for visiting AZPartners sites. Compliance with privacy policies regarding your personal data is very important to us. To better understand our policies, we suggest that you familiarize yourself with the rules for the protection and use of personal data that are collected on the AZPartners websites.
	h3 Use of information
	p On AZPartners websites, you can order products, take part in contests, vote in polls or otherwise express your opinion, as well as subscribe to one of our services, such as our newsletters, or become a member of one of our online forums or communities. These pages may ask for the following personally identifiable information: name, address, email address, telephone number, fax number, credit card information, and information about your use, as well as your interest in using various products, programs, and services.
	p
		b Collection of information by third-party sites
	p On some AZPartners websites, you can provide information about other people. For example, you can enter another person's name and email address to send them an electronic greeting card or, if you order a gift online and want it to be sent directly to the recipient, you can leave the recipient's name and address. These pages may ask for the following personally identifiable information from other users: recipient's name, address, email address and phone number.
	p In some sections of our sites, only users who have provided the required personal data can order products, programs, services or otherwise participate in the opportunities and offers provided by the site.
	blockquote Lorem ipsum dolor sit amet, 
		a(href="#") text link style
		|  elit. Scelerisque text link hover aliquam 
		strong strong text
		|  style  lacus risus purus nisi scelerisque. Mauris, arcu, diam id adipiscing faucibus vitae commodo cras luctus. Pellentesque id sit in netus senectus semper eros, venenatis auctor. 
		em Italic text style
		|  bibendum lorem 
		b
			i strong italic text style,
		|  eget mauris quisque sagittis.
	.row
		.col-12.col-md-6
			ul
				li Esse mollit officia occaecat pariatur
				li Irure eiusmod nulla excepteur consequat
					ul
						li Commodo minim eu ullamco reprehenderit
						li Minim veniam tempor cillum adipisicing
							ul
								li Pellentesque id sit in netus
								li Labore nostrud veniam tempor non
		.col-12.col-md-6
			ol
				li Esse mollit officia occaecat pariatur
				li Irure eiusmod nulla excepteur consequat
					ol
						li Commodo minim eu ullamco reprehenderit
						li Minim veniam tempor cillum adipisicing
							ol
								li Pellentesque id sit in netus
								li Labore nostrud veniam tempor non
