extends /_layout/auth.pug

block append meta
	- config.page.title = 'Sign up';
	- config.page.description = 'Sign up page description';

	-
		var hero = {
			classPostfix: 'signup',
			title: config.page.title,
			subtitle: 'Content delivery and monetization solutions.',
			tabs: [
				{
					title: 'Developer',
					active: true,
					description: 'After you fill out the form, we&apos;ll contact you to clarify details and confirm registration.',
				},
				{
					title: 'Publisher',
					active: false,
					description: 'After you fill out the form, we&apos;ll contact you to clarify details and confirm registration.',
				},
				{
					title: 'Advertiser',
					active: false,
					description: 'Please tell us about your goals and the product you would like to distribute. After we receive the form, we&apos;ll contact you to confirm registration.',
				},
			]	
		}

block content
	.signup-options.tab-content
		each tab in hero.tabs

			- var title = tab.title.toLowerCase();
			- var labelCol = 'col-12 col-sm-4';
			- var inputCol = 'col-12 col-sm-6 col-md-7';

			.tab-pane.fade(class=(tab.active ? 'show active' : '') id=title role="tabpanel" aria-labelledby=title)
				.row.flex-md-row-reverse
					.col-12.col-md-5.col-lg-6
						.signup-options__description(class="signup-options__description--" + title)
							.container.p-md-0 !{tab.description}
					.col-12.col-md-7.col-lg-6
						.signup-options__form
							if title == 'developer'
								include /_includes/_forms/signup_dev.pug
							else if title == 'publisher'
								include /_includes/_forms/signup_pub.pug
							else if title == 'advertiser'
								include /_includes/_forms/signup_adv.pug


