form.form.form--signup.form--pub.needs-validation(novalidate)
	.form-group.row
		.col-4
			label(for="form-email-pub") Email
		.col-6
			.input-group
				input#form-email-pub(type="email" placeholder="johndoe@gmail.com" required name="form-email-pub")
				i.icon-asterisk
	.form-group.row
		.col-4
			label(for="form-password-pub") Password
		.col-6
			.input-group
				input#form-password-pub(type="password" required name="form-password-pub")
				i.icon-asterisk
	.form-group.row
		.col-4
			label(for="form-confirm-password-pub") Confirm password
		.col-6
			.input-group
				input#form-confirm-password-pub(type="password" required name="form-confirm-password-pub")
				i.icon-asterisk
	.form-group.row
		.col-4
		.col-6
			.recaptcha-block
				img(src="/img/recaptcha.png", alt="recaptcha placeholder")
	.form-group.row
		.col-4
		.col-6
			label.input-group
				input.sr-only#form-agreement-pub(type="checkbox" required name="form-agreement-pub")
				span.input-checkbox
					i.icon-check
				span.input-title I agree with 
					a(href="/privacy.html") privacy policy.

	.form-group.row
		.col-4
		.col-6
			button.btn(type="submit")
				i.icon-apply
				span Sign up