body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-height: 100vh;
	background-color: $color-white;
	color: $color-steel-1;
	font-family: $lato;
	font-weight: normal;
	font-size: 18px;
}
.title-1 {
	font-family: $exo;
	font-size: 30px;
	font-weight: 700;
	
	@include media-breakpoint-up(md) {
		font-size: 40px;
	}
}
.title-2 {
	font-family: $exo;
	font-size: 20px;
	font-weight: 700;

	@include media-breakpoint-up(md) {
		font-size: 25px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
	@include media-breakpoint-up(xl) {
		font-size: 32px;
	}
}
.btn {
	display: flex;
	align-items: stretch;
	padding: 0;
	border: 3px solid $color-steel-3;
	border-radius: 5px;
	transition-property: color, border-color, background-color;
	transition-duration: 200ms;

	i {
		flex: 0 0 auto;
		width: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(96, 125, 139, 0.25);
		color: $color-amber-12;
		font-size: 24px;
		transition: inherit;
		
		@include media-breakpoint-up(xl) {
			width: 80px;
			font-size: 30px;
		}
	}
	span {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 36px;
		font-size: 20px;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: inherit;
		
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 28px;
		}
	}
	&:hover {
		border-color: $color-steel-9;

		i {
			color: $color-white;
		}
	}
	&:active {
		border-color: $color-amber-12;

		i {
			background-color: $color-amber-12;
			color: $color-steel-0;
		}
	}
	&:focus {
		box-shadow: none;
	}
	&:disabled {
		color: $color-steel-7;
		background-color: $color-gray-9;
		border-color: $color-gray-9 !important;
		pointer-events: none;

		i {
			background-color: inherit;
			color: inherit;
		}
		span {
			background-color: inherit;
			color: inherit;
		}
	}
}
