body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-height: 100vh;
	background-color: $color-white;
	color: $color-steel-1;
	font-family: $lato;
	font-weight: normal;
	font-size: 18px;
}
.title-1 {
	font-family: $exo;
	font-size: 40px;
	font-weight: 700;
}
.title-2 {
	font-family: $exo;
	font-size: 32px;
	font-weight: 700;
}