$font-exo: (
	("Exo-Thin", 100, normal)
	("Exo-ThinItalic", 100, italic)
	("Exo-ExtraLight", 200, normal)
	("Exo-ExtraLightItalic", 200, italic)
	("Exo-Light", 300, normal)
	("Exo-LightItalic", 300, italic)
	("Exo-Regular", normal, normal)
	("Exo-Italic", normal, italic)
	("Exo-Medium", 500, normal)
	("Exo-MediumItalic", 500, italic)
	("Exo-SemiBold", 600, normal)
	("Exo-SemiBoldItalic", 600, italic)
	("Exo-Bold", 700, normal)
	("Exo-BoldItalic", 700, italic)
	("Exo-ExtraBold", 800, normal)
	("Exo-ExtraBoldItalic", 800, italic)
	("Exo-Black", 900, normal)
	("Exo-BlackItalic", 900, italic)
);

@each $name, $weight, $style in $font-exo {
	@font-face {
		font-family: "Exo";
		src: url($font-path + 'exo/' + $name + ".woff2") format("woff2"), url($font-path + $name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
};

$font-lato: (
	("latohairline", 100, normal)
	("latohairlineitalic", 100, italic)
	("latothin", 200, normal)
	("latothinitalic", 200, italic)
	("latolight", 300, normal)
	("latolightitalic", 300, italic)
	("latoregular", normal, normal)
	("latoitalic", normal, italic)
	("latomedium", 500, normal)
	("latomediumitalic", 500, italic)
	("latosemibold", 600, normal)
	("latosemibolditalic", 600, italic)
	("latobold", 700, normal)
	("latobolditalic", 700, italic)
	("latoheavy", 800, normal)
	("latoheavyitalic", 800, italic)
	("latoblack", 900, normal)
	("latoblackitalic", 900, italic)
);

@each $name, $weight, $style in $font-lato {
	@font-face {
		font-family: "Lato";
		src: url($font-path + 'lato/' + $name + ".woff2") format("woff2"), url($font-path + $name + ".woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
};