.footer {
	margin-top: auto;
	border-top: 1px solid $color-steel-9;

	&__inner {
		min-height: 100px;
	}
}
.footer-copy {
	display: flex;
	align-items: center;
	line-height: 1;

	&__icon {
		font-size: 16px;
		color: $color-amber-6;
	}
	&__text {
		margin-left: 10px;
		margin-right: 0.25em;
		color: $color-steel-1;
		font-weight: 600;
	}
	&__year {
		color: $color-steel-5;
	}
}
.footer__menu {
	.main-menu__item {
		&.is-active {
			.main-menu__link {
				color: $color-steel-5;
			}
		}
	}
	.main-menu__link {
		color: $color-blue-4;

		&:hover {
			color: $color-steel-6;
		}
	}
}
