.footer {
	margin-top: auto;
	border-top: 1px solid $color-steel-9;

	&__inner {
		min-height: 100px;
	}
}
.footer-copy {
	display: flex;
	align-items: center;
	line-height: 1;

	&__icon {
		font-size: 16px;
		color: $color-amber-6;
	}
	&__text {
		margin-left: 10px;
		margin-right: 0.25em;
		color: $color-steel-1;
		font-weight: 600;
	}
	&__year {
		color: $color-steel-5;
	}
}
.footer-menu {
	&__list {
		display: flex;
		margin-bottom: 0;
	}
	&__item {
		font-weight: 500;

		&:not(:last-child) {
			margin-right: 20px;
		}
		&.is-active {
			.main-menu__link {
				color: $color-steel-5;
			}
		}
	}
	&__link {
		color: $color-blue-4;
		white-space: nowrap;
		transition: color 200ms;

		&:hover {
			color: $color-steel-6;
			text-decoration: none;
		}
	}
}
