.form {
	label {
		margin-bottom: 0;
		color: $color-steel-2;
		width: 100%;
		text-align: right;
		white-space: nowrap;
	}
	input,
	textarea {
		color: $color-steel-3;
		transition: border-color 200ms;

		&::placeholder {
			color: $color-steel-6;
		}
		&:focus {
			outline: 0;
			border-color: $color-blue-6;
		}
	}
	input {
		padding: 0;
		padding-bottom: 2px;
		border: 0;
		border-bottom: 3px solid $color-steel-85;

		&[required] + .icon-asterisk {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			margin-left: 7px;
			vertical-align: bottom;
			background-color: $color-steel-9;
			color: $color-steel-7;
			border-radius: 5px;
			font-size: 11px;
			text-align: center;
		}
	}
	textarea {
		min-height: 130px;
		padding: 10px 14px;
		border: 2px solid $color-steel-85;
		border-radius: 5px;
	}
	.icon-asterisk {
		display: none;
	}
	.btn {
		width: 100%;
		max-width: 250px;
		height: 72px;
		border-color: $color-steel-8;
		
		i {
			width: 72px;
		}
		span {
			color: $color-steel-2;
			font-size: 22px;
		}
		&:active {
			border-color: $color-amber-12;
		}
		
	}
	&--contact {
		.icon-asterisk {
			align-self: flex-end;
		}
		textarea {
			width: 100%;
		}
		.btn {
			span {
				color: $color-steel-2;
			}
		}
	}
}
