.header {
	position: relative;
	background-color: $color-steel-deep-2;

	&__inner {
		padding: 8px 0;
		min-height: 64px;

		@include media-breakpoint-up(md) {
			min-height: 72px;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		height: 40px;

		@include media-breakpoint-up(md) {
			height: 48px;
		}
	}
	&__menu {
	}
	&__login {
	}
	.col-menu {
		position: static;
	}
}
.header__menu {
	--top: 64px;
	position: absolute;
	top: var(--top);
	left: 0;
	right: 0;
	z-index: 200;
	background-color: $color-steel-deep-0;
	transform: translateY(calc(-100% - var(--top)));
	transition-property: transform;
	transition-duration: 300ms;

	@include media-breakpoint-up(md) {
		--top: 72px;
	}
	@include media-breakpoint-up(lg) {
		position: static;
		background-color: transparent;
		transform: translateY(0);
	}
	&.is-active {
		transform: translateY(0);
	}
	.main-menu__list {
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
	.main-menu__item {
		min-height: 50px;
		border-bottom: 1px solid $color-steel-deep-2;

		@include media-breakpoint-up(lg) {
			min-height: auto;
			border: 0;
		}
		&:last-child {
			border: 0;
		}
		&.is-active {
			.header-menu__link {
				color: $color-steel-5;
			}
		}
	}
	.main-menu__link {
		display: flex;
		align-items: center;
		min-height: inherit;
		color: $color-white;

		@include media-breakpoint-up(lg) {
			display: inline;
		}

		&:hover {
			color: $color-steel-5;
		}
	}
}
.header-login {
	display: flex;
	justify-content: flex-end;

	&__link {
		display: flex;
		align-items: center;
		color: $color-white;
		transition: color 200ms;

		&:hover {
			color: $color-steel-5;
			text-decoration: none;
		}
	}
	&__icon {
		color: #78909c;
		font-size: 24px;
	}
	&__title {
		display: none;
		margin-left: 10px;

		@include media-breakpoint-up(sm) {
			display: block;
		}
	}
}
.header__burger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	padding: 0;
	background-color: transparent;
	border: 0;

	svg {
		overflow: visible;
	}

	.burger-line {
		transform-origin: center;
		transition-property: transform, opacity, fill;
		transition-duration: 200ms;
	}

	&.is-active {
		.burger-line {
			fill: $color-white;

			&:nth-of-type(1) {
				transform: rotateZ(45deg) translateY(8px);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: rotateZ(-45deg) translateY(-8px);
			}
		}
	}
}
