.header {
	background-color: $color-steel-deep-2;

	&__inner {
		min-height: 72px;
	}
	&__logo {
		display: block;
		height: 48px;
	}
	&__menu {
	}
	&__login {
	}
}
.header__menu {
	.main-menu__item {
		&.is-active {
			.header-menu__link {
				color: $color-steel-5;
			}
		}
	}
	.main-menu__link {
		color: $color-white;

		&:hover {
			color: $color-steel-5;
		}
	}
}
.header-login {
	display: flex;
	justify-content: flex-end;

	&__link {
		display: flex;
		align-items: center;
		color: $color-white;
		transition: color 200ms;

		&:hover {
			color: $color-steel-5;
			text-decoration: none;
		}
	}
	&__icon {
		padding-right: 10px;
		color: #78909c;
		font-size: 24px;
	}
	&__title {
	}
}
