.hero {
	min-height: 500px;
	color: $color-white;

	// home page
	&--home {
		background-color: #010001;
		background-color: $color-steel-deep-2;
		position: relative;
		overflow: hidden;

		.hero__inner {
			min-height: 250px;
		}
		.hero__top,
		.hero__bottom {
			min-height: 250px;
		}
		.hero__bottom {
			background-color: rgba(49, 77, 85, 0.5);
		}
		.hero__title {
			margin-bottom: 0;
		}
		.hero__subtitle {
			font-size: 24px;
		}
	}
	
	// developers page
	&--dev {
		.hero__top {
			background-image: url(#{$img-path}/hero_dev.png);
		}
	}
	&--pub {
		.hero__top {
			background-image: url(#{$img-path}/hero_pub.png);
		}
	}
	&--adv {
		.hero__top {
			background-image: url(#{$img-path}/hero_adv.png);
		}
	}
	&__content {
		position: relative;
		z-index: 2;
	}
	&__top {
		min-height: 200px;
		background-color: $color-steel-deep-1;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.hero__inner {
			min-height: 200px;
		}
	}
	&__title {
		line-height: 125%;
		margin-bottom: 10px;
	}
	&__subtitle {
		color: $color-steel-9;
		line-height: 125%;
		font-weight: 500;
	}
	&__link {
		display: flex;
		height: 90px;
		border: 3px solid $color-steel-3;
		border-radius: 5px;
		transition-property: color, border-color, background-color;
		transition-duration: 200ms;

		&-icon {
			flex: 0 0 auto;
			width: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(96, 125, 139, 0.25);
			color: $color-amber-12;
			font-size: 30px;
			transition: inherit;
		}
		&-title {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			padding-left: 23px;
			padding-right: 36px;
			color: $color-white;
			font-size: 28px;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: inherit;
		}
		&:hover {
			border-color: $color-steel-9;

			.hero__link-icon {
				color: $color-white;
			}
		}
		&:active {
			border-color: $color-amber-12;

			.hero__link-icon {
				background-color: $color-amber-12;
				color: $color-steel-0;
			}
		}
	}
	&__bottom {
		min-height: 300px;
		background-color: $grad-gray;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
		background-blend-mode: overlay, normal;

		.hero__inner {
			min-height: 300px;
		}
	}
	&__video {
		position: absolute;
		top: 0;
		left: -5%;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 130%;
		height: 100%;
		object-fit: cover;
		opacity: 0.33;
	}
}
.hero-promo {
	position: relative;
	height: 205px;
	display: flex;

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		// width: calc(75% + 34px);
		line-height: 1;
		margin: 0;
	}
	&__icon {
		width: 160px;
		height: 160px;
		margin: auto auto 0 auto;
	}
}
.community-group {
	position: relative;
	transition-property: background-color, border-color;
	transition-duration: 250ms;

	&--developers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(202, 175, 105, 0.5) 0%, rgba(131, 112, 66, 0.5) 100%);
			background-color: $color-amber-4;
		}
		.community-group__title {
			border-color: $color-amber-7;

			&:hover {
				background-color: rgba(180, 151, 66, 0.33);
				border-color: $color-amber-13;

				& + .community-group__icon {
					background-color: $color-amber-12;
				}
			}
			&:active {
				background-color: $color-amber-6;
				border-color: $color-amber-6;
			}
		}
	}
	&--publishers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(136, 147, 241, 0.5) 0%, rgba(96, 94, 206, 0.5) 100%);
			background-color: $color-violet-4;
		}
		.community-group__title {
			border-color: $color-violet-5;

			&:hover {
				background-color: rgba(113, 118, 230, 0.33);
				border-color: $color-violet-12;

				& + .community-group__icon {
					background-color: $color-violet-5;
				}
			}
			&:active {
				background-color: $color-violet-5;
				border-color: $color-violet-5;

				& + .community-group__icon {
					background-color: $color-violet-11;
				}
			}
		}
	}
	&--advertisers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(82, 207, 185, 0.5) 0%, rgba(39, 135, 118, 0.5) 100%);
			background-color: #278776;
		}
		.community-group__title {
			border-color: $color-green-6;

			&:hover {
				background-color: rgba(48, 198, 171, 0.33);
				border-color: $color-green-12;

				& + .community-group__icon {
					background-color: $color-green-11;
				}
			}
			&:active {
				background-color: $color-green-5;
				border-color: $color-green-5;

				& + .community-group__icon {
					background-color: $color-green-11;
				}
			}
		}
	}
	&__icon {
		position: absolute;
		top: -30px;
		left: 0;
		width: 90px;
		height: 90px;
		padding: 22px 15px;
		border-radius: 5px;
		font-size: 46px;
		transition: inherit;
	}
	&__title {
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 48px;
		color: $color-white;
		border: 3px solid transparent;
		border-radius: 5px;
		font-weight: 500;
		font-size: 24px;
		line-height: 105%;
		letter-spacing: -0.01em;
		transition: inherit;

		&:hover {
			color: inherit;
		}
		&:active {
			color: $color-steel-0;

			& + .community-group__icon {
				color: $color-steel-0;
			}
		}
	}
}
