.hero {
	color: $color-white;

	@include media-breakpoint-up(lg) {
		min-height: 500px;
	}

	// home page
	&--home {
		background-color: #010001;
		background-color: $color-steel-deep-2;
		position: relative;
		overflow: hidden;

		.hero__inner {
			@include media-breakpoint-up(lg) {
				min-height: 250px;
			}
		}
		.hero__top,
		.hero__bottom {
			@include media-breakpoint-up(lg) {
				min-height: 250px;
			}
		}
		.hero__top {
			padding: 16px 0 30px;

			@include media-breakpoint-up(sm) {
				padding: 35px 0;
			}
		}
		.hero__content {
			background: transparent;
		}
		.hero__bottom {
			background-color: rgba(49, 77, 85, 0.5);
			padding-top: 20px;

			@include media-breakpoint-up(lg) {
				padding-top: 0;
			}
		}
		.hero__title {
			margin-bottom: 10px;

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}
	}

	&--dev {
		.hero__bg {
			background-image: url(#{$img-path}hero_dev.jpg);
		}
	}
	&--pub {
		.hero__bg {
			background-image: url(#{$img-path}hero_pub.jpg);
		}
	}
	&--adv {
		.hero__bg {
			background-image: url(#{$img-path}hero_adv.jpg);
		}
	}
	&--light {
		min-height: 230px;
		margin-bottom: 50px;
		position: relative;
		background-color: rgba(29, 57, 65, 0.15);
		
		@include media-breakpoint-up(sm) {
			min-height: 430px;

		}

		.hero__title {
			margin-top: 65px;
			margin-bottom: 0;
		}
		.hero__subtitle {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			min-height: 90px;
			padding: 0.6em 0;
			background-color: rgba(29, 57, 65, 0.66);
		}
	}
	&--contact {
		.hero__bg {
			background-image: url(#{$img-path}hero_contact.jpg);
			opacity: 1;
		}
	}
	&--thin {
		min-height: 150px;
		margin-bottom: 35px;
		background-color: $color-steel-deep-4;

		.hero__inner {
			min-height: 150px;
		}
	}
	&--signup {
		margin-bottom: 0;
	}
	&--approved {
		background-color: $color-green-4;
	}
	&__content {
		position: relative;
		z-index: 2;
		background-color: $color-steel-deep-1;
	}
	&__top {
		position: relative;

		@include media-breakpoint-up(lg) {
			min-height: 200px;
		}

		.hero__inner {
			padding: 10px 0 20px;

			@include media-breakpoint-up(lg) {
				min-height: 200px;
			}
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0.33;
		background-repeat: no-repeat;
		background-position: center 63%;
		background-size: cover;

		@include media-breakpoint-down(xs) {
			background-color: $color-steel-deep-2;
			background-image: none !important;
			opacity: 1;
		}
	}
	&__title {
		line-height: 125%;
		margin-bottom: 10px;
	}
	&__subtitle {
		color: $color-steel-9;
		line-height: 125%;
		font-weight: 500;
		font-size: 16px;

		@include media-breakpoint-up(md) {
			font-size: 20px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 24px;
		}
	}
	&__link {
		max-width: 222px;
		height: 72px;
		margin-top: 10px;

		@include media-breakpoint-up(sm) {
			margin: 0;
		}
		@include media-breakpoint-up(xl) {
			max-width: none;
			height: 90px;
		}
		&-icon {
		}
		&-title {
			color: $color-white;
		}
	}
	&__bottom {
		background-color: $grad-gray;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
		background-blend-mode: overlay, normal;

		@include media-breakpoint-up(lg) {
			min-height: 300px;
		}

		.hero__inner {
			@include media-breakpoint-up(lg) {
				min-height: 300px;
			}
		}
	}
	&__video {
		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
			position: absolute;
			top: 0;
			left: -5%;
			right: 0;
			bottom: 0;
			z-index: 1;
			z-index: 1;
			width: 231%;
			height: 149%;
			object-fit: cover;
			opacity: 0.33;
		}
		@include media-breakpoint-up(md) {
			left: 0;
			width: 165%;
			height: 107%;
		}
		@include media-breakpoint-up(lg) {
			left: -7%;
			width: 183%;
			height: 159%;
		}
		@include media-breakpoint-up(xl) {
			left: -5%;
			width: 140%;
			height: 123%;
		}
	}
}

.hero-promo {
	--grad-color-1: #{$color-steel-deep-4};
	--grad-color-2: rgba(66, 94, 102, 0);
	--bg-color: #37535b;
	position: relative;
	height: 155px;
	display: flex;
	margin-top: 10px;

	@include media-breakpoint-up(lg) {
		margin-top: 0;
		height: 205px;
	}
	&__title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		line-height: 120%;
		margin: 0;

		@include media-breakpoint-up(lg) {
			line-height: 1;
		}
	}
	&__icon {
		margin: auto;
		width: 105px;
		height: 105px;

		@include media-breakpoint-up(lg) {
			width: 160px;
			height: 160px;
			margin-bottom: 0;
		}
	}
}
.community-group {
	position: relative;
	transition-property: background-color, border-color;
	transition-duration: 250ms;
	margin-bottom: 20px;

	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
	}

	&--developers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(202, 175, 105, 0.5) 0%, rgba(131, 112, 66, 0.5) 100%);
			background-color: $color-amber-4;
		}
		.community-group__title {
			border-color: $color-amber-7;

			&:hover {
				background-color: rgba(180, 151, 66, 0.33);
				border-color: $color-amber-13;

				& + .community-group__icon {
					background-color: $color-amber-12;
				}
			}
			&:active {
				background-color: $color-amber-6;
				border-color: $color-amber-6;
			}
		}
	}
	&--publishers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(136, 147, 241, 0.5) 0%, rgba(96, 94, 206, 0.5) 100%);
			background-color: $color-violet-4;
		}
		.community-group__title {
			border-color: $color-violet-5;

			&:hover {
				background-color: rgba(113, 118, 230, 0.33);
				border-color: $color-violet-12;

				& + .community-group__icon {
					background-color: $color-violet-5;
				}
			}
			&:active {
				background-color: $color-violet-5;
				border-color: $color-violet-5;

				& + .community-group__icon {
					background-color: $color-violet-11;
				}
			}
		}
	}
	&--advertisers {
		.community-group__icon {
			background-image: linear-gradient(180deg, rgba(82, 207, 185, 0.5) 0%, rgba(39, 135, 118, 0.5) 100%);
			background-color: #278776;
		}
		.community-group__title {
			border-color: $color-green-6;

			&:hover {
				background-color: rgba(48, 198, 171, 0.33);
				border-color: $color-green-12;

				& + .community-group__icon {
					background-color: $color-green-11;
				}
			}
			&:active {
				background-color: $color-green-5;
				border-color: $color-green-5;

				& + .community-group__icon {
					background-color: $color-green-11;
				}
			}
		}
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -30px;
		left: 0;
		width: 72px;
		height: 72px;
		padding: 10px;
		border-radius: 5px;
		font-size: 36px;
		transition: inherit;

		@include media-breakpoint-up(md) {
			width: 90px;
			height: 90px;
			font-size: 46px;
		}
	}
	&__title {
		height: 72px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 48px;
		color: $color-white;
		border: 3px solid transparent;
		border-radius: 5px;
		font-weight: 500;
		font-size: 20px;
		line-height: 105%;
		letter-spacing: -0.01em;
		transition: inherit;

		@include media-breakpoint-up(md) {
			height: 90px;
			font-size: 22px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 24px;
		}

		&:hover {
			color: inherit;
		}
		&:active {
			color: $color-steel-0;

			& + .community-group__icon {
				color: $color-steel-0;
			}
		}
	}
}
