.partners {
	&__inner {
		min-height: 250px;
	}
	&__title {
		padding-right: 30px;
	}
	&__list {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 20px;
		}
	}
	&__item {
		margin-bottom: 10px;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			margin-right: 24px;
		}
	}
}
