// variables

//mixins
//desktop first
@mixin df($size) {
	@media (max-width: $size + px) {
		@content;
	}
}
//mobile first
@mixin mf($size) {
	@media (min-width: $size + px) {
		@content;
	}
}

// paths
$font-path: "../fonts/";
$img-path: "../img/";

// fonts
$lato: "Lato", sans-serif;
$exo: "Exo", sans-serif;

// colors

/* Color styles */
$color-black: #222222;
$color-white: #FFFFFF;
$color-gray-0: #2A3134;
$color-gray-1: #3E4548;
$color-gray-2: #50575A;
$color-gray-3: #636A6D;
$color-gray-4: #71787B;
$color-gray-5: #858C8F;
$color-gray-6: #9AA1A4;
$color-gray-7: #B6BDC0;
$color-gray-8: #D1D8DB;
$color-gray-9: #E9F0F3;
$color-steel-0: #253337;
$color-steel-1: #36484E;
$color-steel-2: #435B62;
$color-steel-3: #526F78;
$color-steel-4: #5E7F89;
$color-steel-5: #76919A;
$color-steel-6: #8EA5AC;
$color-steel-7: #AFBFC4;
$color-steel-8: #D4DEE3;
$color-steel-85: #E2E9EC;
$color-steel-9: #EBEFF0;
$color-steel-deep-0: #0A262E;
$color-steel-deep-1: #17333B;
$color-steel-deep-2: #1D3941;
$color-steel-deep-3: #314D55;
$color-steel-deep-4: #425E66;
$color-blue-0: #094456;
$color-blue-1: #0D5D76;
$color-blue-2: #106C88;
$color-blue-3: #117A9A;
$color-blue-4: #1486AA;
$color-blue-5: #3798B7;
$color-blue-6: #5AAAC3;
$color-blue-7: #8AC3D5;
$color-blue-8: #B7DAE4;
$color-blue-9: #E2F0F4;
$color-blue-10: #14A5D2;
$color-blue-11: #34BAE4;
$color-blue-12: #6BCDEB;
$color-blue-13: #A1DFF2;
$color-blue-14: #DDF3FA;
$color-blue-deep-0: #04252F;
$color-blue-deep-1: #073848;
$color-blue-deep-2: #0B5F79;
$color-blue-deep-3: #1084A8;
$color-blue-deep-4: #1C9AC1;
$color-apple-10: #04C167;
$color-apple-11: #1ADA7E;
$color-apple-12: #60E0A3;
$color-apple-13: #9BECC5;
$color-apple-14: #CEFFE7;
$color-red-10: #FF4747;
$color-red-11: #FF6969;
$color-red-12: #FF9292;
$color-red-13: #FFBABA;
$color-red-14: #FFE6E6;
$color-amber-0: #705700;
$color-amber-1: #886A02;
$color-amber-2: #92740C;
$color-amber-3: #9C7B0D;
$color-amber-4: #A7881E;
$color-amber-5: #AB8E29;
$color-amber-6: #B69E49;
$color-amber-7: #C7B26B;
$color-amber-8: #DDD0A1;
$color-amber-9: #F0EAD6;
$color-amber-10: #A68100;
$color-amber-11: #C49A05;
$color-amber-12: #D2B552;
$color-amber-13: #E3D192;
$color-amber-14: #FAEFC8;
$color-amber-deep-0: #261D00;
$color-amber-deep-1: #392C00;
$color-amber-deep-2: #604B00;
$color-amber-deep-3: #856700;
$color-amber-deep-4: #9F7C00;
$color-violet-0: #2A2D77;
$color-violet-1: #3A3DA3;
$color-violet-2: #4348BD;
$color-violet-3: #4C51D5;
$color-violet-4: #545AEA;
$color-violet-5: #6E7BEE;
$color-violet-6: #8893F1;
$color-violet-7: #AAB2F5;
$color-violet-8: #CBD0F8;
$color-violet-9: #EAEDFC;
$color-violet-10: #6B70FF;
$color-violet-11: #868AFF;
$color-violet-12: #A7AAFF;
$color-violet-13: #C7C9FF;
$color-violet-14: #EBEBFF;
$color-violet-deep-0: #171842;
$color-violet-deep-1: #232564;
$color-violet-deep-2: #3B3EA8;
$color-violet-deep-3: #5156E9;
$color-violet-deep-4: #646AFF;
$color-green-0: #004D3F;
$color-green-1: #006957;
$color-green-2: #017A65;
$color-green-3: #018A72;
$color-green-4: #02987E;
$color-green-5: #27A790;
$color-green-6: #4EB7A4;
$color-green-7: #80CBBE;
$color-green-8: #B2DFD7;
$color-green-9: #E0F2EF;
$color-green-10: #01B999;
$color-green-11: #30C6AB;
$color-green-12: #68D5C2;
$color-green-13: #A0E5D9;
$color-green-14: #DCF5F1;
$color-green-deep-0: #002A23;
$color-green-deep-1: #003F34;
$color-green-deep-2: #006B58;
$color-green-deep-3: #00947A;
$color-green-deep-4: #08AD90;
$logo-red-grad: #E6424C;
$logo-blue-grad: #328793;
$color-steel-10: #526F7C;
$color-steel-11: #6F8F9F;
$color-steel-12: #7B9EAE;
$color-steel-13: #8AAEBF;
$color-steel-14: #BAD0DB;
$grad-gold-light: #ECD37A;
$grad-ghost: #477079;
$grad-ghost-gold: #B1995A;
$gard-gold-dark: #B69E49;
$grad-gray-stroke: #BAD0DB;
$grad-white-stroke: #EBEFF0;
$grad-dark-stroke: #314D55;
$grad-violet-stroke: #545AEA;
$grad-green-stroke: #02987E;
$grad-gray: #37535B;
